@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

body {
    padding: 0px;
    margin: 0px;
}

#container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.25s;
}

.vertex {
    box-sizing: border-box;
    transition: all 0.25s;
    background-color: #eeeeee;
}

.grid {
    transition: all 0.25s;
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    padding: 1px;
}

.grid.is-set-source > .vertex:hover {
    background-color: rgba(72, 199, 142, 0.5);
}

.grid.is-set-source {
    box-shadow: 0px 0px 0px 5px #48c78e;
}

.grid.is-set-target {
    box-shadow: 0px 0px 0px 5px #f14668;
}

.grid.is-set-target > .vertex:hover {
    background-color: rgba(241, 70, 104, 0.5);
}

.over {
    background-color: aquamarine;
    transition: all 0.05s;
}

.obstacle {
    background-color: #505050 !important;
}

.visited {
    background-color: #3e8ed0;
}

.path {
    background-color: #ffe08a;
}

.source {
    background-color: #48c78e;
}

.target {
    background-color: #f14668;
}

.grid.is-set-target > .source:hover, .grid.is-set-source > .target:hover {
    background: linear-gradient(135deg, rgba(72,199,142,0.5) 50%, rgba(241,70,104,0.5) 50%);
}

.source.target {
    background: linear-gradient(135deg, rgba(72,199,142,1) 50%, rgba(241,70,104,1) 50%);
}